### WELCOME TO MY MODULE 11 OF 30DAYS OF PYTHON PROGRAMING

## ðŸ’» Python Type Errors Exercises


1. Open you python interactive shell and try all the examples covered in this section.

#### Types of Error 

- **SyntaxError** :- This type sof error that occurs when there is missing python important syntax like _comma, closing and open paretexix_ ETC

for example 

``` py
age = 25
print("my name is Ilyasu abdulrahman", "My age is:" age)

```
The above code will result in the syntax error because of missing comma in the code

The correct code is 

``` py
age = 25
print("my name is Ilyasu abdulrahman", "My age is:", age)
```

In [18]:
age = 25
print("my name is Ilyasu abdulrahman", "My age is:" age)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3687777894.py, line 2)

- **NameError :-** This types of error when the variable name is not declear. and you were trying to use it in our code 

for Example 

``` py
print("My name is Ahmad idris from", place)
```
The above error is that the variable place was not define. This type error is called NameError

The correct code is 

``` py
place = "Ankpa"
print("My name is Ahmad Idris from", place)
```

In [16]:
print("My name is Ahmad idris from", place)

NameError: name 'place' is not defined

- **IndexError :-**
This types of error commonly occur in a list or when you are trying to get index number of an alphabet for example 

```py
numbers = [1, 2, 3, 4, 5]
print(numbers[5])
```
the total index in the above list is 4. So when you are calling the index 5 it results into an error because the index is not up to 5

The correct code is 
``` py
numbers = [1, 2, 3, 4, 5]
print(numbers[4])
```

In [17]:
numbers = [1, 2, 3, 4, 5]
print(numbers[5])

IndexError: list index out of range

- **ModuleNotFoundError :-** This types of error occur when you trying to import python built in function. example

``` py
import maths

math.PI
```
The above code will results into an error the correct code is 

``` py
import math

math.pi
```

In [19]:
import maths

ModuleNotFoundError: No module named 'maths'

- **AttributeError :-** This type of error occur when you attribute to a module of attribute that does not exist. it could be spelling, or case sensitive for example

``` py
import math
math.PI
```
The above will results in Attribute Error Because of case senstive of PI.
The correct code is 

``` py
import math
math.pi
```

In [20]:
import math
math.PI

AttributeError: module 'math' has no attribute 'PI'

- **KeyError :-** This type of Error normally occur in the dictionary when the is not define or the spelling of particular is not correct for example

``` py
family = {'name': 'mufidat', 'age': 24, 'country': 'Nigeria'}
print(family['contry'])
```
This will results in an Error because of wrong spelling of the 'dic key'

The correct code is 

``` py 
user = {'name': 'mufidat', 'age': 24, 'country': 'Nigeria'}
print(user['country'])
```

In [23]:
family = {'name': 'mufidat', 'age': 24, 'country': 'Nigeria'}
print(family['contry'])

KeyError: 'contry'

- **TypeError :-** This type of occur when you tried to add 'int' and 'string together' for example

``` py 
print(3, + '5')
```
This code will results in TypeError as string cannot be added with int or float

To correct the code you have to covert the string by using int function or input the int value 
for examples 

``` py 
add = 3 + int("3")
```

In [24]:
print(3, + '5')

TypeError: bad operand type for unary +: 'str'

- **ImportError :-** This type of error occur when you try to import function that does not in a module. it can be spelling for examples

``` py 
from math import power
```
The above code will results in an error because there is power function in math module rather than is pow

The correct code is 

``` py 
from math import pow
pow(5,2)
```

In [25]:
from math import power

ImportError: cannot import name 'power' from 'math' (unknown location)

- **ValueError :-** This error occur when a certain type of cannot be coverted to a particular data type for example converting alphabet to int 

``` py 
print(int("24a"))
```
This will resultes in error because the 'a' string cannot be converted to int

The correct code is 

``` py
print(int("24"))
```

In [26]:
print(int("24a"))

ValueError: invalid literal for int() with base 10: '24a'

- **ZeroDivisionError** :- This error occur when dividing a number by 0 for examples
``` py 
print 2 / 0
```

The correct code is you cannot divide a number 0

In [2]:
print (2 / 0)

ZeroDivisionError: division by zero

## Exception Handling/ Packing Unpacking Exercises:

1. names = ['Finland', 'Sweden', 'Norway','Denmark','Iceland', 'Estonia','Russia']. Unpack the first five countries and store them in a variable nordic_countries, store Estonia and Russia in es, and ru respectively.

In [44]:
names = ['Finland', 'Sweden', 'Norway','Denmark','Iceland', 'Estonia','Russia']

fin, sw, nor, den, ice, ea, ru = names

nordic_countries = (fin, sw, nor, ice)
print(nordic_countries)
es = (ea)
ru = (ru)

print(es)
print(ru)

('Finland', 'Sweden', 'Norway', 'Iceland')
Estonia
Russia

#### COMPLETE MODULE 11