### WELCOME TO MY MODULE 8 OF 30DAYS OF PYTHON PROGRAMMING

## ðŸ’» Loops Exercises

### Exercises: Level 1

1. Iterate 0 to 10 using for loop, do the same using while loop.

In [7]:
#Iterate 0 to 10 using for loop, do the same using while loop.
# FOR LOOP EXAMPLE
for i in range(0, 11):
    print(i)
    
print("_____________________________________________")

#Using while loope
count = 1
while count <=10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9
10
_____________________________________________
1
2
3
4
5
6
7
8
9
10

2. Iterate 10 to 0 using for loop, do the same using while loop.

In [13]:
#2. Iterate 10 to 0 using for loop, do the same using while loop.
#FOR LOOP

for x in range(10, 0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [14]:
count = 10
while count >= 0:
    print(count)
    count -= 1

10
9
8
7
6
5
4
3
2
1
0

3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

In [18]:
#3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:
##
####
####
#####
######
#######

for i in range(0,7):
    print('#' * i)

#
##
###
####
#####
######

4. Use nested loops to create the following:

   ```sh
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #
   # # # # # # # #

In [27]:
#Use nested loops to create the following:
# ROW = 8
#COL = 8

size = 8
for i in range(size):
    for j in range(size):
        print('#', end=' ')
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

5. Print the following pattern:

```sh
   0 x 0 = 0
   1 x 1 = 1
   2 x 2 = 4
   3 x 3 = 9
   4 x 4 = 16
   5 x 5 = 25
   6 x 6 = 36
   7 x 7 = 49
   8 x 8 = 64
   9 x 9 = 81
   10 x 10 = 100

In [35]:
#Print the following pattern:
count = 0
while count <=10:
    product = (f'{count} * {count} = {count * count}')
    print(product)
    count +=1
    
print("____________________________________________________")

num = 2
while num <12:
    multiple = (f'{num} * {num} = {num * num}')
    print(multiple)
    num +=1

0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100
____________________________________________________
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100
11 * 11 = 121

6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [36]:
#Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

lsts = ['Python', 'Numpy','Pandas','Django', 'Flask']

for lst in lsts:
    print(lst)

Python
Numpy
Pandas
Django
Flask

7. Use for loop to iterate from 0 to 100 and print only even numbers

In [4]:
#7. Use for loop to iterate from 0 to 100 and print only even numbers

for p in range(101):
    if p % 2 == 0:
        print(p, end=',')

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

8. Use for loop to iterate from 0 to 100 and print only odd numbers

In [6]:
#8. Use for loop to iterate from 0 to 100 and print only odd numbers

for odd in range(100):
    if odd % 2 !=0:
        print(odd, end=',')

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

##### _______ Level Complete ___________

### Exercises: Level 2

1.  Use for loop to iterate from 0 to 100 and print the sum of all numbers.

In [32]:
# Use for loop to iterate from 0 to 100 and print the sum of all numbers.
print("The sum of Numbers is ")
total = 0
for add in range(101):
    total +=add
    print(total, end=',')

The sum of Numbers is
0,1,3,6,10,15,21,28,36,45,55,66,78,91,105,120,136,153,171,190,210,231,253,276,300,325,351,378,406,435,465,496,528,561,595,630,666,703,741,780,820,861,903,946,990,1035,1081,1128,1176,1225,1275,1326,1378,1431,1485,1540,1596,1653,1711,1770,1830,1891,1953,2016,2080,2145,2211,2278,2346,2415,2485,2556,2628,2701,2775,2850,2926,3003,3081,3160,3240,3321,3403,3486,3570,3655,3741,3828,3916,4005,4095,4186,4278,4371,4465,4560,4656,4753,4851,4950,5050,

In [37]:
# Also Using while looping 
sum_num = 0
num = 0
while num <= 100:
    sum_num = sum_num + num
    print(sum_num, end=',')
    num = num +1

0,1,3,6,10,15,21,28,36,45,55,66,78,91,105,120,136,153,171,190,210,231,253,276,300,325,351,378,406,435,465,496,528,561,595,630,666,703,741,780,820,861,903,946,990,1035,1081,1128,1176,1225,1275,1326,1378,1431,1485,1540,1596,1653,1711,1770,1830,1891,1953,2016,2080,2145,2211,2278,2346,2415,2485,2556,2628,2701,2775,2850,2926,3003,3081,3160,3240,3321,3403,3486,3570,3655,3741,3828,3916,4005,4095,4186,4278,4371,4465,4560,4656,4753,4851,4950,5050,

2. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

In [55]:
#Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.
print("The Sum of Even  Number 0 to 100 using FOR LOOP is:")
total_even = 0
for number in range(101):
    if number % 2 == 0:
        total_even = total_even + number
        print(total_even, end=',')

The Sum of Even  Number 0 to 100 using FOR LOOP is:
0,2,6,12,20,30,42,56,72,90,110,132,156,182,210,240,272,306,342,380,420,462,506,552,600,650,702,756,812,870,930,992,1056,1122,1190,1260,1332,1406,1482,1560,1640,1722,1806,1892,1980,2070,2162,2256,2352,2450,2550,

In [56]:
#Alternatively You can Also use While Loop
print("The Sum of Even  Number 0 to 100 using WHILE LOOP is:")
total_even = 0 
number = 0
while number <= 100:
    if number % 2 == 0:
        total_even = total_even + number
        print(total_even, end=',')
    number +=1

The Sum of Even  Number 0 to 100 using WHILE LOOP is:
0,2,6,12,20,30,42,56,72,90,110,132,156,182,210,240,272,306,342,380,420,462,506,552,600,650,702,756,812,870,930,992,1056,1122,1190,1260,1332,1406,1482,1560,1640,1722,1806,1892,1980,2070,2162,2256,2352,2450,2550,

**For odd Number**

In [54]:
# For Odd number using FOR LOOP

print("The Sum of Odd numbers from 0 to 100 using FOR LOOP IS:")

total_odd = 0
for odd_num in range(101):
    if odd_num % 2 != 0:
        total_odd = total_odd + odd_num
        print(total_odd, end=',')

The Sum of Odd numbers from 0 to 100 using FOR LOOP IS:
1,4,9,16,25,36,49,64,81,100,121,144,169,196,225,256,289,324,361,400,441,484,529,576,625,676,729,784,841,900,961,1024,1089,1156,1225,1296,1369,1444,1521,1600,1681,1764,1849,1936,2025,2116,2209,2304,2401,2500,

In [58]:
# Alternatively Using WHILE LOOP

print("The Sum of Odd numbers from 0 to 100 using WHILE LOOP IS:")

total_odd = 0
odd_num = 0
while odd_num <= 100:
    if odd_num % 2 != 0:
        total_odd = total_odd + odd_num
        print(total_odd, end=',')
    odd_num +=1

The Sum of Odd numbers from 0 to 100 using WHILE LOOP IS:
1,4,9,16,25,36,49,64,81,100,121,144,169,196,225,256,289,324,361,400,441,484,529,576,625,676,729,784,841,900,961,1024,1089,1156,1225,1296,1369,1444,1521,1600,1681,1764,1849,1936,2025,2116,2209,2304,2401,2500,

In [59]:
print('_______ COMPLETE LEVEL 2 ________')

_______ COMPLETE LEVEL 2 ________

### Exercises: Level 3

1. Go to the data folder and use the [countries.py](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/data/countries.py) file. Loop through the countries and extract all the countries containing the word _land_.

In [4]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
'Saint Lucia',
'Saint Vincent',
'Samoa',
'San Marino',
'Sao Tome and Principe',
'Saudi Arabia',
'Senegal',
'Serbia and Montenegro',
'Seychelles',
'Sierra Leone',
'Singapore',
'Slovakia',
'Slovenia',
'Solomon Islands',
'Somalia',
'South Africa',
'Spain',
'Sri Lanka',
'Sudan',
'Suriname',
'Swaziland',
'Sweden',
'Switzerland',
'Syria',
'Taiwan',
'Tajikistan',
'Tanzania',
'Thailand',
'Togo',
'Tonga',
'Trinidad and Tobago',
'Tunisia',
'Turkey',
'Turkmenistan',
'Tuvalu',
'Uganda',
'Ukraine',
'United Arab Emirates',
'United Kingdom',
'United States',
'Uruguay',
'Uzbekistan',
'Vanuatu',
'Vatican City',
'Venezuela',
'Vietnam',
'Yemen',
'Zambia',
'Zimbabwe',
];

for country in countries:
  if 'land' in country:
    print('*', country)
  
  
  
print("_______________________________________")
# Aternatively using WHILE LOOP

print(" Using while LOOP to filter country that contains  LAND are as follows:")
country_with_land = []
index = 0
while index < len(countries):
  if 'land' in countries[index]:
    country_with_land.append(countries[index])
  index +=1

print(country_with_land)

* Finland
* Iceland
* Ireland
* Marshall Islands
* Netherlands
* New Zealand
* Poland
* Solomon Islands
* Swaziland
* Switzerland
* Thailand
_______________________________________
 Using while LOOP to filter country that contains  LAND are as follows:
['Finland', 'Iceland', 'Ireland', 'Marshall Islands', 'Netherlands', 'New Zealand', 'Poland', 'Solomon Islands', 'Swaziland', 'Switzerland', 'Thailand']

2. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

In [8]:
#2. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

print("The reverse version of the list is ")
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.reverse()
for fruit in fruits:
    print(fruit)

The reverse version of the list is
lemon
mango
orange
banana

2. Go to the data folder and use the [countries_data.py](https://github.com/Asabeneh/30-Days-Of-Python/blob/master/data/countries-data.py) file. 
   1. What are the total number of languages in the data
   2. Find the ten most spoken languages from the data
   3. Find the 10 most populated countries in the world