# WELCOME TO MY MODULE 5 30DAYS OF PYTHON PROGRAMING

## ðŸ’» Exercises: Module 5

### Exercises: Level 1

1. Declare an empty list

In [58]:
#Declare an empty list

empty = []
print(empty)

[]

2. Declare a list with more than 5 items

In [59]:
#2. Declare a list with more than 5 items
books = ['chemistry', 'atomic habit', 'productive muslim', 'daily azkar,', 'pyhiscs']
print(books)

['chemistry', 'atomic habit', 'productive muslim', 'daily azkar,', 'pyhiscs']

3. Find the length of your list

In [60]:
#3. Find the length of your list
books = ['chemistry', 'atomic habit', 'productive muslim', 'daily azkar,', 'pyhiscs']
print(len(books))

5

4. Get the first item, the middle item and the last item of the list

In [61]:
#4. Get the first item, the middle item and the last item of the list
books = ['chemistry', 'atomic habit', 'productive muslim', 'daily azkar,', 'pyhiscs']
print(books[0])         #first item
print(books[3])         #middle item
print(books[-1])        #last item

chemistry
daily azkar,
pyhiscs

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [62]:
#5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)
mixed_data_types = ["Abdulrahman", "26 years old", 1.78, "single", "Kogi State"]
print(type(mixed_data_types))

<class 'list'>

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [63]:
#6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']
print(companies)

['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']

7. Print the list using _print()_

In [64]:
#7. Print the list using _print()_
companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']
print(companies)

['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']

8. Print the number of companies in the list

In [65]:
#8. Print the number of companies in the list

companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']
print(len(companies))

7

9. Print the first, middle and last company

In [66]:
#9. Print the first, middle and last company

companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']
print(companies[4])

ibm

10. Print the list after modifying one of the companies

In [67]:
#10. Print the list after modifying one of the companies
companies[1] = "kashimo investment"
print(companies)

['facebook', 'kashimo investment', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']

11. Add an IT company to it_companies

In [68]:
#Add an IT company to it_companies
companies.append("LogicTech")
print(companies)

['facebook', 'kashimo investment', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'LogicTech']

12. Insert an IT company in the middle of the companies list

In [69]:
#12. Insert an IT company in the middle of the companies list

companies.insert(4, "ArewaDS")
print(companies)

['facebook', 'kashimo investment', 'microsoft', 'apple', 'ArewaDS', 'ibm', 'oracle', 'amazon', 'LogicTech']

13. Change one of the it_companies names to uppercase (IBM excluded!)

In [70]:
#13. Change one of the it_companies names to uppercase (IBM excluded!)

print(companies[3].upper())

APPLE

14. Join the it_companies with a string '#;&nbsp; '

In [71]:
#14. Join the it_companies with a string '#;&nbsp; '

companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']
results = " # " .join(companies)
print(results)

facebook # google # microsoft # apple # ibm # oracle # amazon

15. Check if a certain company exists in the it_companies list.

In [72]:
#15. Check if a certain company exists in the it_companies list.

companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon']
if 'amazon' in companies:
    print("The comapny Amazon exist in the companies")
else:
    print("The company doest not exist")

The comapny Amazon exist in the companies

16. Sort the list using sort() method

In [73]:
#16. Sort the list using sort() method

companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']
companies.sort()
print(companies)

['ArewaDS', 'LogicTech', 'Skills for Africa', 'amazon', 'apple', 'facebook', 'google', 'ibm', 'microsoft', 'oracle']

17. Reverse the list in descending order using reverse() method

In [74]:
#17. Reverse the list in descending order using reverse() method
companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']
companies.sort(reverse=True)
print(companies)

['oracle', 'microsoft', 'ibm', 'google', 'facebook', 'apple', 'amazon', 'Skills for Africa', 'LogicTech', 'ArewaDS']

18. Slice out the first 3 companies from the list

In [75]:
#18. Slice out the first 3 companies from the list

companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']
print(companies[0:3])

['facebook', 'google', 'microsoft']

19. Slice out the last 3 companies from the list

In [76]:
#19. Slice out the last 3 companies from the list

companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']
print(companies[7:])

['ArewaDS', 'LogicTech', 'Skills for Africa']

20. Slice out the middle IT company or companies from the list

In [77]:
#20. Slice out the middle IT company or companies from the list

companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']
print(companies[5])

oracle

21. Remove the first IT company from the list

In [78]:
#21. Remove the first IT company from the list

companies.remove("facebook")
print(companies)

['google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']

22. Remove the middle IT company or companies from the list

In [79]:
#22. Remove the middle IT company or companies from the list

companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']
companies.remove("oracle")
print(companies)

['facebook', 'google', 'microsoft', 'apple', 'ibm', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']

23. Remove the last IT company from the list

In [80]:
#23. Remove the last IT company from the list
companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']
companies.remove("Skills for Africa")
print(companies)

['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech']

24. Remove all IT companies from the list

In [81]:
#24. Remove all IT companies from the list
companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']
companies.clear()
print(companies)

[]

25. Destroy the IT companies list

In [82]:
#25. Destroy the IT companies list
companies = ['facebook', 'google', 'microsoft', 'apple', 'ibm', 'oracle', 'amazon', 'ArewaDS', 'LogicTech', 'Skills for Africa']
del companies

26.  Join the following lists:

    front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
    back_end = ['Node','Express', 'MongoDB']

In [83]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_language = (f'{front_end} {back_end}')
print(full_language)
print("_____________________________________________________")

#OR
full_language = front_end + back_end
print(full_language)
print("_____________________________________________________")

['HTML', 'CSS', 'JS', 'React', 'Redux'] ['Node', 'Express', 'MongoDB']
_____________________________________________________
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
_____________________________________________________

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [84]:
#27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
print(full_stack)
print("__________________________________________________________________")

full_stack.insert(5, 'Python')
full_stack.insert(5,'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
__________________________________________________________________
['HTML', 'CSS', 'JS', 'React', 'Redux', 'SQL', 'Python', 'Node', 'Express', 'MongoDB']

### Exercises: Level 2

1. The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

- Sort the list and find the min and max age
- Add the min age and the max age again to the list
- Find the median age (one middle item or two middle items divided by two)
- Find the average age (sum of all items divided by their number )
- Find the range of the ages (max minus min)
- Compare the value of (min - average) and (max - average), use _abs()_ method

In [85]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#- Sort the list and find the min and max age
ages.sort
print(ages)
print("_____________________________________________________________")

#THE MIN
ages_min = min(ages)
print(f"The Min  age is: {min(ages)}\n")
print("_____________________________________________________________")

#THE MAX
ages_max = max(ages)
print(f'The Max age is {max(ages)}')
print("_____________________________________________________________")

#Add the min age and the max age again to the list
ages.append(19)
ages.append(26)
length = len(ages)
print(ages)
print("_____________________________________________________________")

#- Find the median age (one middle item or two middle items divided by two)
middle_1 = 25
middle_2 = 26
results = middle_2 + middle_1
print(f'The Median is: {results / 2}\n')
print("_____________________________________________________________")

#- Find the average age (sum of all items divided by their number )
ages_sum = sum(ages)
average_age = ages_sum / length
print(f"The Average of Age is: {ages_sum / length}")
print("_____________________________________________________________")

#- Find the range of the ages (max minus min)
ages_range = ages_max - ages_min
print(f"The Range of Age is: {ages_range}")
print("_____________________________________________________________")

#- Compare the value of (min - average) and (max - average), use _abs()_ method
value_1 = abs(min(ages) - average_age)
print(f"(min - Average) is: {value_1}")
print("_____________________________________________________________")

value_2 = abs(max(ages) - average_age)
print(f"(Max - Average) is: {value_2}")
print("_____________________________________________________________")

if value_2 == value_1:
    print("The (min - Average) and (Max - Average) are the same")
else:
    print("The (min - Average) and (Max - Average) are different")

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
_____________________________________________________________
The Min  age is: 19

_____________________________________________________________
The Max age is 26
_____________________________________________________________
[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
_____________________________________________________________
The Median is: 25.5

_____________________________________________________________
The Average of Age is: 22.75
_____________________________________________________________
The Range of Age is: 7
_____________________________________________________________
(min - Average) is: 3.75
_____________________________________________________________
(Max - Average) is: 3.25
_____________________________________________________________
The (min - Average) and (Max - Average) are different

1. Find the middle country(ies) in the [countries list](https://github.com/Asabeneh/30-Days-Of-Python/tree/master/data/countries.py)

In [86]:
#Find the middle country(ies) in the [countries list](https://github.com/Asabeneh/30-Days-Of-Python/tree/master/data/countries.py)
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

lenght_countries = len(countries)
median = countries[lenght_countries//2]
print(f"The middle is: {median}")

The middle is: Lesotho

2. Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [87]:
#Divide the countries list into two equal lists if it is even if not one more country for the first half.
lenght_countries = len(countries)
print("_______________________________________________________")
mid_countries  = (lenght_countries + 1)// 2  ## Adding 1 to make two country equal
#DIVIDE THE LIST INTO TWO HALF
first_half = countries[:mid_countries]
print(f"The first part of the country are: {first_half}")
print("_________________________________________________________________")

second_half = countries[mid_countries:]
print(f"The second half of the country are: {second_half}")

_______________________________________________________
The first part of the country are: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
_________________________________________________________________
The second half of the country are: ['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

3. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [88]:
unpack = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
print(f"The first country is: {unpack[0].upper()}")
print(f"The second country is: {unpack[1].upper()}")
print(f"The third country is: {unpack[2].upper()}")
print(f"The scandic country are: {unpack[3:]}")

The first country is: CHINA
The second country is: RUSSIA
The third country is: USA
The scandic country are: ['Finland', 'Sweden', 'Norway', 'Denmark']

## ðŸ’» Tuple Exercises

### Tuple Exercises: Level 1

1. Create an empty tuple

In [89]:
#1. Create an empty tuple
empty_tuple = ()

2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [90]:
#2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
brothers = ('lahadi', 'tenimu', 'abdulmujeeb', 'bilal')
sisters = ('hawawo', 'wosila', 'toyiba')
print(brothers)
print(sisters)

('lahadi', 'tenimu', 'abdulmujeeb', 'bilal')
('hawawo', 'wosila', 'toyiba')

3. Join brothers and sisters tuples and assign it to siblings

In [91]:
#3. Join brothers and sisters tuples and assign it to siblings

siblings = brothers + sisters
print(siblings)

('lahadi', 'tenimu', 'abdulmujeeb', 'bilal', 'hawawo', 'wosila', 'toyiba')

4. How many siblings do you have?

In [92]:
#4. How many siblings do you have?
print(f'I have {len(siblings)} Sibilings')

I have 7 Sibilings

5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [93]:
#5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

parents = ('ilyasu', 'rehimat')
family_member = parents + siblings
print(family_member)

('ilyasu', 'rehimat', 'lahadi', 'tenimu', 'abdulmujeeb', 'bilal', 'hawawo', 'wosila', 'toyiba')

### Tuple Exercises: Level 2

1. Unpack siblings and parents from family_members

In [94]:
#1. Unpack siblings and parents from family_members
for sibling in siblings:
    print(sibling, "Is my sibling", "\n")
for parent in parents:
    print(parent, "is my parent", "\n")

lahadi Is my sibling

tenimu Is my sibling

abdulmujeeb Is my sibling

bilal Is my sibling

hawawo Is my sibling

wosila Is my sibling

toyiba Is my sibling

ilyasu is my parent

rehimat is my parent

2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [95]:
#1. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

fruits = ('mango', 'orange', 'pineapple','watermelon')
vegetables = ('ogwu leaf', 'tomatoe', 'waterleaf','bitter leaf')
animals = ('kilich', 'meat', 'kpomo')
food_stuff_tp = fruits + vegetables + animals
print(food_stuff_tp)

('mango', 'orange', 'pineapple', 'watermelon', 'ogwu leaf', 'tomatoe', 'waterleaf', 'bitter leaf', 'kilich', 'meat', 'kpomo')

3. Change the about food_stuff_tp  tuple to a food_stuff_lt list

In [96]:
#1. Change the about food_stuff_tp  tuple to a food_stuff_lt list
food_stuff_lst = list(food_stuff_tp)
print(food_stuff_lst)

['mango', 'orange', 'pineapple', 'watermelon', 'ogwu leaf', 'tomatoe', 'waterleaf', 'bitter leaf', 'kilich', 'meat', 'kpomo']

4.  Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [97]:
#4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
print(food_stuff_lst[0:3])
print(food_stuff_lst[3:6])
print(food_stuff_lst[-3:-1])

['mango', 'orange', 'pineapple']
['watermelon', 'ogwu leaf', 'tomatoe']
['kilich', 'meat']

5. Slice out the first three items and the last three items from food_staff_lt list

In [98]:
#5. Slice out the first three items and the last three items from food_staff_lt list
print(food_stuff_lst[0:3])      #slice of first three items
print(food_stuff_lst[-4:-1])    #slice of last three items

['mango', 'orange', 'pineapple']
['bitter leaf', 'kilich', 'meat']

6. Delete the food_staff_tp tuple completely

In [99]:
#Delete the food_staff_tp tuple completely

fruits = ('mango', 'orange', 'pineapple','watermelon')
vegetables = ('ogwu leaf', 'tomatoe', 'waterleaf','bitter leaf')
animals = ('kilich', 'meat', 'kpomo')
food_stuff_tp = fruits + vegetables + animals

del food_stuff_tp

 7. Check if 'Estonia' is a nordic country
 8. Check if 'Iceland' is a nordic country
  nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [100]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
if 'Estonia' in nordic_countries:
    print("Estonia present in Nordic countries")
else:
    print("Estonia is Not Present")
print("________________________________________________________")

if 'Iceland' in nordic_countries:
    print("Iceland present in Nordic countries")
else:
    print("Iceland is Not Present")

Estonia is Not Present
________________________________________________________
Iceland present in Nordic countries

## ðŸ’» Sets Exercises

### Sets Exercises: Level 1

1. Find the length of the set it_companies

In [101]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

2. Add 'Twitter' to it_companies

In [102]:
#2. Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'Facebook', 'Google', 'IBM', 'Oracle', 'Apple', 'Twitter', 'Amazon'}

3. Insert multiple IT companies at once to the set it_companies

In [103]:
#3. Insert multiple IT companies at once to the set it_compainies

it_companies.update(['netflix', 'LogicTech'])
print(it_companies)

{'Facebook', 'IBM', 'Oracle', 'Google', 'Apple', 'Twitter', 'Microsoft', 'netflix', 'Amazon', 'LogicTech'}

4. Remove one of the companies from the set it_companies

In [104]:
#4. Remove one of the companies from the set it_companies
it_companies.remove('netflix')
print(it_companies)

{'Facebook', 'IBM', 'Oracle', 'Google', 'Apple', 'Twitter', 'Microsoft', 'Amazon', 'LogicTech'}

5. What is the difference between remove and discard
Both _remove() and discard()_ are two similar things but the ways they work is different for example
when using using **remove** to remove item from the list it raised an error if the items does not exist **while**

discard will not raised an error if the elements doest not exist

### Sets Exercises: Level 2

1. Join A and B

In [105]:
#1. Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

join = A.union(B)
print(join)

{19, 20, 22, 24, 25, 26, 27, 28}

2. Find A intersection B

In [106]:
#2. Find A intersection B
intersection = A.intersection(B)
print(intersection)

{19, 20, 22, 24, 25, 26}

3. Is A subset of B

In [107]:
#3. Is A subset of B
subset = A.issubset(B)
print(f'is {subset} is a subset')

is True is a subset

4. Are A and B disjoint sets

In [108]:
#4. Are A and B disjoint sets
disjoint = A.isdisjoint(B)
print(f"is {disjoint} is Not a disjoint")

is False is Not a disjoint

5. Join A with B and B with A

In [109]:
#Join A with B and B with A
join_A = A.union(B)
join_B = B.union(A)
print(join_A)
print(join_B)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

6. What is the symmetric difference between A and B

In [110]:
#What is the symmetric difference between A and B
symmetric_diff = A.symmetric_difference(B)
print(symmetric_diff)

{27, 28}

7. Delete the sets completely

In [111]:
#Delete the sets completely
del A
del B

### Sets Exercises: Level 3

1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [112]:
#Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age = [22, 19, 24, 25, 26, 24, 25, 24]

lst = list(age)
print(lst)

[22, 19, 24, 25, 26, 24, 25, 24]

2. Explain the difference between the following data types: string, list, tuple and set

- **STRING** : A string is a text wrapped in the single quote(''), double quote(""), and Tripple quote(""")
- **LIST** : A list is a collection of data or items. you can think of shooping list, attendace list, noise make list ETC the list is written you as: ["book", " pen"]
- **TUPLE** : A tuple is collection of data in mutational form. is a collection of items that cannot be change or replce. A tuple is written as: turple = ('item', 'item2')
- **SET** : A set is a collection of item in a set. a set is writen as: set = {'item', 'item2'}

3. _I am a teacher and I love to inspire and teach people._ How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [115]:
sentences = "I am a teacher and I love to inspire and teach people"
convert = set(sentences.split())
print(f'The unique word in the sentence is: {len(convert)}')

The unique word in the sentence is: 10

## COMPLETE MODULE 5