## ðŸ’» Exercises - Module 2

### Exercises: Level 1

1. Write a python comment saying 'Day 2: 30 Days of python programming'

In [136]:
# DAY 2: 30 days of python Programming

2. Declare a first name variable and assign a value to it

In [137]:
first_name = "Abdulrahman"

3. Declare a last name variable and assign a value to it

In [138]:
last_name = "Ilyasu"

4. Declare a full name variable and assign a value to it

In [139]:
full_name = "Ilyasu Abdulrahman"

5. Declare a country variable and assign a value to it

In [140]:
country = "Nigeria"

6. Declare a city variable and assign a value to it

In [141]:
city = "Abuja"

7. Declare an age variable and assign a value to it

In [142]:
age = 26

8. Declare a year variable and assign a value to it

In [143]:
year = 1998

9. Declare a variable is_married and assign a value to it

In [144]:
is_married = "yes married"

10. Declare a variable is_true and assign a value to it

In [145]:
is_true = "The lord is one"

11. Declare a variable is_light_on and assign a value to it

In [146]:
is_light = "There is no light"

In [147]:
a, b, c, d = 2, 3, 4, 5
print(a)
print(b)
print(c)
print(d)

second_number, first_number = "Abdulrahman", "Suleiman"
print(second_number)
print(first_number)

2
3
4
5
Abdulrahman
Suleiman

### EXERCISE LEVEL: 2

1. Check the data type of all your variables using type() built-in function

In [148]:
first_name = "Abdulrahman"
last_name = "ilyasu"
full_name = f'{first_name}'
country = "Nigeria"
city = "Abuja"
age = 27
year = 1998
is_married = "yes married"
is_true = "Yes is true"
is_light = "There is no light"
second_number, first_number, city = "Abdulrahman", "Suleiman", "Ankpa"


print(type(first_name))
print(type(last_name))
print(type(full_name))
print(type(country))
print(type(city))
print(type(age))
print(type(is_married))
print(type(is_light))
print(type(first_number))
print(type(city))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

2. Using the len() built-in function, find the length of your first name

In [149]:
first_name = "Abdulrahman"
print(len(first_name))

last_name = "Ilyasu"
print(len(last_name))

11
6

3. Compare the length of your first name and your last name

In [150]:
first_name = "Abdulrahman"

last_name = "ilyasu"

print(len(first_name) == len(last_name))
print(len(first_name) >= len(last_name))
print(len(first_name) <= len(last_name))
print(len(first_name) != len(last_name))

False
True
False
True

4. Declare 5 as num_one and 4 as num_two

In [151]:
num_one = 5
num_two = 4

5. Add num_one and num_two and assign the value to a variable total

In [152]:
num_one = 5
num_two = 4
reuslts = (num_two + num_one)
print(reuslts)

9

6. Subtract num_two from num_one and assign the value to a variable diff

In [153]:
num_one = 5
num_two = 4
diff = (num_one - num_two)
print(diff)

1

7. Multiply num_two and num_one and assign the value to a variable product

In [154]:
num_one = 5
num_two = 4
products = (num_one * num_two)
print(products)

20

8. Divide num_one by num_two and assign the value to a variable division

In [155]:
num_one = 5
num_two = 4
division_1 = (num_one / num_two)
division_2 = (num_one // num_two)
division_3 = (num_one % num_two)

print(division_1, division_2, division_3, sep="\n")

1.25
1
1

9. Use modulus division to find num_two divided by num_one and assign the value to a variable remainder

In [156]:
num_one = 5
num_two = 4
remender = (num_two % num_one)
print(remender)

4

10. Calculate num_one to the power of num_two and assign the value to a variable exp

In [157]:
num_one = 5
num_two = 4
exp = (num_two ** num_one)
print(exp)

1024

11. Find floor division of num_one by num_two and assign the value to a variable floor_division

In [158]:
num_one = 5
num_two = 4
floor_division = (num_one // num_two)
print(floor_division)

1

12. The radius of a circle is 30 meters.
    1. Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
    2. Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
    3. Take radius as user input and calculate the area.

In [159]:
#1. Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
#SOLUTION
#AREA OF A CYCLE IS GIVEN AS A=Ï€r2 (A = 22/7 * r**2)
#where 
r = 30
Ï€ = 3.14
area_of_cycle = (Ï€ * r **2)
print(area_of_cycle)
print("_________________________")

#2. Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
#SOLUTION
#CIRCUMFERENCE OF A CYCLE IS GIVEN AS C=2Ï€r
Ï€ = 3.14
c = "?"
r = 30
circum_of_cycle = (2 * Ï€ * r)
print(circum_of_cycle)
print("_________________________")

#3. Take radius as user input and calculate the area.
user_input = int(input("PLEASE PROVIDE THE VALUE OF r"))
print(2 * Ï€ * user_input)

2826.0
_________________________
188.4
_________________________
56.52

13. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

In [160]:
first_name = str(input("Enter your first name").upper())
last_name = str(input("Enter your last name").upper())
country = str(input("Enter your country").upper())
age = int(input("Enter your age"))
print(f'FIRST NAME: {first_name}')
print(f"LAST NAME: {last_name}")
print(f"COUNTRY: {country}")
print(f"AGE: {age}")

FIRST NAME: ILYASU
LAST NAME: ABDULRAHMAN
COUNTRY: NIGERIA
AGE: 26

14. Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords

In [ ]:
help('keyword')